@use "_colors" as *;

@mixin focus-style($color: $color-primary, $outline-width: 2px) {
  outline: none;
  box-shadow: 0 0 0 $outline-width $color;
}

@mixin text-action-s {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin hover {
  & {
    transition:
      color 0.3s ease-out,
      background-color 0.3s ease-out,
      opacity 0.3s ease-out;
  }

  &:active {
    opacity: 0.8;
  }

  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin extend-click($offset: 5px) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -#{$offset};
    right: -#{$offset};
    bottom: -#{$offset};
    left: -#{$offset};
  }
}
