@use "../../assets/scss/colors" as *;
@use "../../assets/scss/media" as *;

.section-best {
  color: $color-static-white;
  background-image: url("@/assets/images/background-snow.webp");

  &__container {
    container-type: inline-size;
    padding-block: 60px;

    @include media-xl {
      padding-inline: 72px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__intro {
    margin-bottom: 20px;
  }

  &__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: stretch;
    justify-content: center;

    max-width: 640px;
    margin-inline: auto;
  }

  @container (min-width: 1276px) {
    .section-best__card-list {
      max-width: none;
    }
  }
}
