@use "../../assets/scss/fonts" as *;
@use "../../assets/scss/colors" as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/media" as *;

.section-gifts {
  background-image: url("@/assets/images/background-garland.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    padding-block: 60px;
  }

  &__title {
    max-width: 13.32em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
  }

  &__form {
    display: flex;
    justify-content: center;

    @include media-md {
      gap: 0.5rem;
    }
  }
}

.radio-label {
  position: relative;

  input {
    pointer-events: auto;

    position: absolute;
    inset: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:checked + &__inner {
    pointer-events: none;
    background-color: $color-static-white-20;
  }

  &__inner {
    @extend .text-action-s;

    cursor: pointer;

    position: relative;

    display: block;

    padding: 0.75rem 0.5rem;

    color: $color-static-white;
    text-wrap: nowrap;

    border-radius: 12px;

    @include hover {
      background-color: $color-static-white-20;
    }

    @include media-md {
      padding: 0.75rem 1.25rem;
    }
  }
}
