@use "../../assets/scss/media" as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/colors" as *;

.header {
  &__container {
    padding: 12px 0;
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }

  &__logo {
    @include extend-click(5px);
    z-index: 1;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  &__logo-text {
    text-wrap: nowrap;
    color: $color-dark;
  }

  &__burger-button {
    z-index: 1;
    @include media-md {
      display: none;
    }
  }
}
