@use "../../assets/scss/colors" as *;

.section-cta {
  color: $color-static-white;
  background-image: url("@/assets/images/background-cta.webp");
  background-position: center bottom;
  border-radius: 0 0 20px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding-block: 180px;
  }

  &__title {
    max-width: 18em;
  }

  &__intro {
    margin-bottom: 8px;
  }
}

.timer {
  display: flex;
  padding: 8px 12px 12px 12px;
  background-color: $color-static-white-40;
  border-radius: 20px;

  &__item {
    position: relative;
    width: 80px;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      width: 1px;
      height: 20px;

      background-color: $color-static-white;
    }

    &:last-child::before {
      content: none;
    }
  }

  &__value {
    display: block;
  }

  &__unit {
    display: block;
  }
}
