@use "../../assets/scss/media" as *;

.section-container {
  user-select: none;
  padding-inline: 8px;
  text-align: center;
}

@include media-xl {
  .section-container {
    padding-inline: 82px;
  }
}
