@use "../../assets/scss/colors" as *;
@use "../../assets/scss/mixins" as *;

.section-slider {
  color: $color-static-white;
  background-image: url("@/assets/images/background-snow.webp");

  &__container {
    overflow-x: hidden;
    padding-block: 60px;
  }

  &__intro {
    margin-bottom: 12px;
  }

  &__header {
    margin-bottom: 20px;
  }
}

.slider {
  position: relative;

  &__slides {
    position: relative;

    display: flex;
    gap: 21px;
    align-items: center;

    width: fit-content;
    margin-bottom: 20px;

    transition: transform 0.5s ease;
  }

  &__slide {
    &--image {
      width: 200px;
      height: auto;

      & img {
        border-radius: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
  }
}

.slider-button {
  @include extend-click(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;

  border: 1px solid $color-static-white;
  border-radius: 20px;

  &__icon {
    width: 24px;
    height: 24px;
  }

  @include hover {
    color: $color-primary;
    background-color: $color-static-white;
  }

  &:disabled {
    pointer-events: none;
    color: $color-static-white-40;
    border-color: $color-static-white-40;
  }

  &:first-child &__icon {
    transform: scaleX(-1);
  }
}
