@use "../../assets/scss/_colors.scss" as *;

.main {
  overflow: hidden;
  flex: 1;
  background-color: $color-primary;
  border-radius: 20px;

  &--gradient {
    background: linear-gradient($color-primary, $color-static-white);
  }
}
