@use "../../assets/scss/colors" as *;

.card {
  position: relative;

  width: fit-content;

  color: $color-dark;
  list-style: none;

  background-color: $color-content-background;
  border-radius: 20px;

  &__image {
    display: block;
    width: 310px;
    height: auto;

    & img {
      border-radius: 20px 20px 0 0;
    }
  }

  &__text-area {
    min-height: 7rem;
    padding: 1.25rem;

    text-align: left;

    background-color: $color-static-white;
    border-radius: 20px;
  }

  &__tag {
    margin-bottom: 0.5rem;
    &--work {
      color: $color-tag-purple;
    }

    &--health {
      color: $color-tag-green;
    }

    &--harmony {
      color: $color-tag-pink;
    }
  }

  &__title {
    width: 16.875rem;
  }

  &__button {
    position: absolute;
    inset: 0;
  }
}
