@use "../../assets/scss/colors" as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/media" as *;

.nav {
  pointer-events: none;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;

  width: 100%;
  min-height: 100dvh;
  min-height: 100vh;

  color: $color-dark;

  visibility: hidden;
  opacity: 0;
  background-color: $color-static-white;

  transition: all 0.3s ease-out;

  &--visible {
    pointer-events: unset;

    top: 0;
    left: 0;

    visibility: visible;
    opacity: 1;
  }

  @include media-md {
    pointer-events: unset;

    position: static;
    inset: unset;

    min-height: unset;

    visibility: visible;
    opacity: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    min-height: 100dvh;
    min-height: 100vh;
    padding-top: 64px;

    @include media-md {
      flex-direction: row;
      justify-content: flex-end;
      min-height: unset;
      padding-top: 0;
    }
  }

  &__list-item {
    list-style: none;
  }

  &__link {
    @include extend-click(5px);

    display: block;

    padding: 12px 20px;

    text-decoration: none;

    border-radius: 12px;

    transition:
      color 0.3s ease-out,
      background-color 0.3s ease-out;

    @include media-md {
      @include text-action-s;
    }

    @include hover {
      color: $color-primary;
      background-color: $color-primary-10;
    }

    &--active {
      pointer-events: none;
      color: $color-primary;
      background-color: $color-primary-10;
    }
  }
}
