@use "../../assets/scss/media" as *;
@use "../../assets/scss/colors" as *;

.footer {
  color: $color-dark;

  &__container {
    padding-block: 60px;
  }

  &__contacts {
    display: grid;
    gap: 12px;
    margin-bottom: 60px;

    @include media-lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__contact {
    list-style: none;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
