@use "../../assets/scss/mixins" as *;
.socials {
  display: flex;
  gap: 16px;

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    padding: 6px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
